@charset "UTF-8";

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw auto 2vw auto;
}
#header h1 {
  font-size: 3vw;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li a {
  font-size: 1.5vw;
}
#header li a:hover {
  opacity: 0.7;
}


/*コンタクト*/
#contact {
    background-image: url(../images/contact-bg.jpg);
    min-height: 100vh;
}
/* フォーム */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255..5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
}